catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!--
    XML Schema за каталога на видеоигрите.  Схемата дефинира
    типове и ограничения за елементите в catalog.xml.  Използват се
    ключове и референции за реализиране на връзките между жанрове,
    фирми и игри.
  -->

  <!-- Тип за id на жанр. -->
  <xs:simpleType name="GenreIdType">
    <xs:restriction base="xs:ID"/>
  </xs:simpleType>

  <!-- Тип за допустимите стойности на image атрибута (имената на ентитетите). -->
  <xs:simpleType name="ImageEntityType">
    <xs:restriction base="xs:ENTITY">
      <xs:enumeration value="totk"/>
      <xs:enumeration value="eldenring"/>
      <xs:enumeration value="doometernal"/>
      <xs:enumeration value="minecraft"/>
      <xs:enumeration value="tetris"/>
      <xs:enumeration value="witcher3"/>
      <xs:enumeration value="mario"/>
      <xs:enumeration value="bg3"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Коренов елемент catalog. -->
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genres"/>
        <xs:element ref="companies"/>
        <xs:element ref="games"/>
      </xs:sequence>
      <!-- Декларация на ключа за жанровете -->
      <xs:key name="genreKey">
        <xs:selector xpath="genres/genre"/>
        <xs:field xpath="@id"/>
      </xs:key>
      <!-- Декларация на съставен ключ за фирмите (име + роля) -->
      <xs:key name="companyKey">
        <xs:selector xpath="companies/company"/>
        <xs:field xpath="@name"/>
        <xs:field xpath="@role"/>
      </xs:key>
      <!-- Референция към ключа на жанра от игрите -->
      <xs:keyref name="gameGenreRef" refer="genreKey">
        <xs:selector xpath="games/game"/>
        <xs:field xpath="@genreId"/>
      </xs:keyref>
      <!-- Референция към съставния ключ на фирма от companyRef -->
      <xs:keyref name="companyRefKey" refer="companyKey">
        <xs:selector xpath="games/game/companies/companyRef"/>
        <xs:field xpath="@name"/>
        <xs:field xpath="@role"/>
      </xs:keyref>
    </xs:complexType>
  </xs:element>

  <!-- genres: множество жанрове -->
  <xs:element name="genres">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="genre" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="id" type="GenreIdType" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- companies: множество фирми (разработчици/издатели). -->
  <xs:element name="companies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="company" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="country" type="xs:string" use="required"/>
            <xs:attribute name="role" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- games: множество игри. -->
  <xs:element name="games">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="game" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="platforms" type="xs:string"/>
              <xs:element name="summary" type="xs:string"/>
              <!-- companies подигра -->
              <xs:element name="companies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="companyRef" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="role" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="genreId" type="xs:IDREF" use="required"/>
            <xs:attribute name="image" type="ImageEntityType" use="required"/>
            <xs:attribute name="releaseDate" type="xs:date" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
