catalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!--
    XML Schema for the video game catalog. The schema defines
    types and constraints for the elements in catalog.xml. Keys
    and key references are used to model the relationships between
    genres, companies and games.
  -->

  <!-- Type for a genre id. -->
  <xs:simpleType name="GenreIdType">
    <xs:restriction base="xs:ID"/>
  </xs:simpleType>

  <!-- Type for allowed values of the image attribute (entity names). -->
  <xs:simpleType name="ImageEntityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="totk"/>
      <xs:enumeration value="eldenring"/>
      <xs:enumeration value="doometernal"/>
      <xs:enumeration value="minecraft"/>
      <xs:enumeration value="tetris"/>
      <xs:enumeration value="witcher3"/>
      <xs:enumeration value="mario"/>
      <xs:enumeration value="bg3"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Root element catalog. -->
  <xs:element name="catalog">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="genres"/>
        <xs:element ref="companies"/>
        <xs:element ref="games"/>
      </xs:sequence>
    </xs:complexType>

    <!-- Key declaration for genres. -->
    <xs:key name="genreKey">
      <xs:selector xpath="genres/genre"/>
      <xs:field xpath="@id"/>
    </xs:key>

    <!-- Composite key for companies (name + role). -->
    <xs:key name="companyKey">
      <xs:selector xpath="companies/company"/>
      <xs:field xpath="@name"/>
      <xs:field xpath="@role"/>
    </xs:key>

    <!-- Key reference from games to genre key. -->
    <xs:keyref name="gameGenreRef" refer="genreKey">
      <xs:selector xpath="games/game"/>
      <xs:field xpath="@genreId"/>
    </xs:keyref>

    <!-- Key reference from companyRef elements to the composite company key. -->
    <xs:keyref name="companyRefKey" refer="companyKey">
      <xs:selector xpath="games/game/companies/companyRef"/>
      <xs:field xpath="@name"/>
      <xs:field xpath="@role"/>
    </xs:keyref>
  </xs:element>

  <!-- genres: collection of genres -->
  <xs:element name="genres">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="genre" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="id" type="GenreIdType" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- companies: collection of companies (developers/publishers). -->
  <xs:element name="companies">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="company" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="country" type="xs:string" use="required"/>
            <xs:attribute name="role" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- games: collection of games. -->
  <xs:element name="games">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="game" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="title" type="xs:string"/>
              <xs:element name="platforms" type="xs:string"/>
              <xs:element name="summary" type="xs:string"/>
              <!-- companies for a given game -->
              <xs:element name="companies">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="companyRef" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="role" type="xs:string" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="genreId" type="xs:IDREF" use="required"/>
            <xs:attribute name="image" type="ImageEntityType" use="required"/>
            <xs:attribute name="releaseDate" type="xs:date" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
