videogames.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="videogameCatalog">
        <xs:complexType>
            <xs:sequence>
                <!-- Жанрове -->
                <xs:element name="genres">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="genre" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="id" type="xs:string" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Компании -->
                <xs:element name="companies">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="company" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="country" type="xs:string"/>
                                        <xs:element name="publishedGames" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="publishedGame" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <!-- Референция към съставния ключ на игра -->
                                                            <xs:attribute name="titleRef" type="xs:string" use="required"/>
                                                            <xs:attribute name="companyIdRef" type="xs:string" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Платформи -->
                <xs:element name="platforms">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="platform" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="id" type="xs:string" use="required"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- Игри -->
                <xs:element name="games">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="game" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="title" type="xs:string"/>
                                        <xs:element name="genreId" type="xs:string"/>
                                        <xs:element name="companyId" type="xs:string"/>
                                        <!-- Много платформи за една игра -->
                                        <xs:element name="platformId" type="xs:string" maxOccurs="unbounded"/>
                                        <xs:element name="releaseYear" type="xs:gYear"/>
                                        <xs:element name="ageRating" type="xs:string"/>
                                        <xs:element name="multiplayer" type="xs:boolean"/>
                                        <xs:element name="price">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:decimal">
                                                        <xs:attribute name="currency" type="xs:string" use="required"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <!-- Път към изображение през entity -->
                                        <xs:element name="image" type="xs:string"/>
                                        <xs:element name="description" type="xs:string"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <!-- Ключове -->
        <xs:key name="genreKey">
            <xs:selector xpath="genres/genre"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:key name="companyKey">
            <xs:selector xpath="companies/company"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <xs:key name="platformKey">
            <xs:selector xpath="platforms/platform"/>
            <xs:field xpath="@id"/>
        </xs:key>

        <!-- Съставен ключ за игра: (title, companyId) -->
        <xs:key name="gameKey">
            <xs:selector xpath="games/game"/>
            <xs:field xpath="title"/>
            <xs:field xpath="companyId"/>
        </xs:key>

        <!-- Референции от игрите -->
        <xs:keyref name="gameGenreRef" refer="genreKey">
            <xs:selector xpath="games/game"/>
            <xs:field xpath="genreId"/>
        </xs:keyref>

        <xs:keyref name="gameCompanyRef" refer="companyKey">
            <xs:selector xpath="games/game"/>
            <xs:field xpath="companyId"/>
        </xs:keyref>

        <xs:keyref name="gamePlatformRef" refer="platformKey">
            <xs:selector xpath="games/game/platformId"/>
            <xs:field xpath="."/>
        </xs:keyref>

        <!-- Референция към съставния ключ на игра от company/publishedGame -->
        <xs:keyref name="publishedGameRef" refer="gameKey">
            <xs:selector xpath="companies/company/publishedGames/publishedGame"/>
            <xs:field xpath="@titleRef"/>
            <xs:field xpath="@companyIdRef"/>
        </xs:keyref>

    </xs:element>
</xs:schema>

